backend/__pycache__/*
backend/config/__pycache__/*
backend/utils/__pycache__/*
ClimatePulseApp.egg-info/*
data_collection/data_collection/__pycache__/*
data_collection/data_collection/spiders/__pycache__/*
.venv/